$main_height: 600px;
$width_of_input_area: 400px;
table {
	border-collapse: collapse;
	background-color: white;
	z-index: 3;
	td {
		border: solid 1px;
		padding: 0.1em;
		width: 28px;
		text-align: center;
	}
}

#main {
	height: $main_height;
	width: 100%;
	background-color: grey;

	#input_area {
		display: block;
		width: $width_of_input_area;
		height: $main_height;
		position:absolute;
		z-index: 5;

		ul {
			display: inline-block;
			height: $main_height;
			list-style-type: none;

			.one_cipher{
				display: none;
				background-color: #ccffff;
				padding: 10px;
				width: 300px;
				height: 350px;

				@mixin input_cipher_text {
					height: 150px;
				}
				#atbash_text {
					@include input_cipher_text;
				}
				#caeser_text {
					@include input_cipher_text;
				}
				#vigenere_text {
					@include input_cipher_text;
				}
				#a1z26_text {
					@include input_cipher_text;
				}
				#binary_text {
					@include input_cipher_text;
				}
			}
		}
	}

	#animate_area {
		display: block;
		position: absolute;
		width: 800px;
		height: $main_height;
		left: $width_of_input_area;

		$acd: 70px;//animate_char_divの縦横それぞれの大きさ
		#animate_char_div {
			position: absolute;
			width: $acd;
			height: $acd;
			z-index: 2;

			text-align: center;
			font-size: 50px;
			padding: auto;
		}
		#sbc_div {
			padding-left:$acd;
			height: 10%;
		}
		#sac_div {
			height: 40%;
		}
	}
}


#output_text {
	height: 50px;
}