table {
  border-collapse: collapse;
  background-color: white;
  z-index: 3; }
  table td {
    border: solid 1px;
    padding: 0.1em;
    width: 28px;
    text-align: center; }

#main {
  height: 600px;
  width: 100%;
  background-color: grey; }
  #main #input_area {
    display: block;
    width: 400px;
    height: 600px;
    position: absolute;
    z-index: 5; }
    #main #input_area ul {
      display: inline-block;
      height: 600px;
      list-style-type: none; }
      #main #input_area ul .one_cipher {
        display: none;
        background-color: #ccffff;
        padding: 10px;
        width: 300px;
        height: 350px; }
        #main #input_area ul .one_cipher #atbash_text {
          height: 150px; }
        #main #input_area ul .one_cipher #caeser_text {
          height: 150px; }
        #main #input_area ul .one_cipher #vigenere_text {
          height: 150px; }
        #main #input_area ul .one_cipher #a1z26_text {
          height: 150px; }
        #main #input_area ul .one_cipher #binary_text {
          height: 150px; }
  #main #animate_area {
    display: block;
    position: absolute;
    width: 800px;
    height: 600px;
    left: 400px; }
    #main #animate_area #animate_char_div {
      position: absolute;
      width: 70px;
      height: 70px;
      z-index: 2;
      text-align: center;
      font-size: 50px;
      padding: auto; }
    #main #animate_area #sbc_div {
      padding-left: 70px;
      height: 10%; }
    #main #animate_area #sac_div {
      height: 40%; }

#output_text {
  height: 50px; }

/*# sourceMappingURL=style.css.map */
